body{
  font-family: 'Raleway', sans-serif;
}

#logo{
  height: 85%;
}

.navText{
  font-weight: 300;
}

#topContainer {
  background-image: url("images/bg.png");
  height:500px;
  width:100%;
  background-size: cover;
}

#topRow{
  margin-top:100px;
  text-align: center;
}

#topRow h1{
  font-size: 400%;
  /*background-color: rgba(255, 255, 255, 0.5);*/
}

.bold{
  font-weight: bold;
  /*background-color: rgba(255, 255, 255, 0.5);*/
}

.marginTop{
  margin-top: 30px;
}

.center {
  text-align: center;
}

.title{
  margin-top: 100px;
  font-size: 300%;
}

.largeIcon{
  font-size:750%;
  margin-top: 30px;
}

#section3{
  background-color: rgb(41, 171, 175);
}

#section4{
  background-color: #eeeeee;
}

.contentContainer{
  width:100%;
}

.marginBottom{
  margin-bottom: 30px;
}

.socialIcon:hover{
  color:green;
}

.logoImage{
  background-image: url("images/logocircle.png");
  height: 340px;
  width: 340px;
  position: absolute;
  top: 50%;
  left: 50%;

  margin: -170px 0 0 -170px;
}
